{%- extends "index.html.jinja" -%}
{%- import "tools.jinja" as tools -%}
{%- import "html.jinja" as html -%}
{%- import "resumetools.html.jinja" as resume -%}
{%- block head -%}
{{html.css(['css/main.css','http://fonts.googleapis.com/css?family=Seaweed+Script'])}}
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
{{html.js(['js/jquery.js','js/email.js'])}}
{%- if js is defined -%}
{{html.js(js)}}
{%- endif -%}
{%- endblock head -%}
{%- block body -%}

{%- if cv.personal is defined -%}
<div class="header section">
  {%- include "header.html.jinja" -%}
</div>
{%- endif -%}

{%- if cv.intro is defined -%}
<div class="introduction section">
  {%- include "introduction.html.jinja" -%}
</div>
{%- endif -%}

{%- if cv.jobs is defined -%}
<div class="job section">
  {%- for job in cv.jobs -%}
    {%- include "job.html.jinja" -%}
  {%- endfor -%}
</div>
{%- endif -%}

{%- if cv.education is defined -%}
<div class="education section">
  {%- for school in cv.education -%}
    {%- include "school.html.jinja" -%}
  {%- endfor -%}
</div>
{%- endif -%}

{%- if cv.extra is defined -%}
<div class="extra section">
  {%- for ex in cv.extra -%}
    {%- include resume.sectionname_to_filename(ex.name) -%}
  {%- endfor -%}
</div>
{%- endif -%}

{%- if keywords is defined -%}
<div class="keywords section">
  {%- include "keywords.html.jinja" -%}
</div>
{%- endif -%}

{%- if footer is defined -%}
<div class="footer section">
  {%- include "footer.html.jinja" -%}
</div>
{%- endif -%}

{%- endblock body -%}
