{%- extends "section.html.jinja" -%}
{%- import "tools.jinja" as tools -%}
{%- import "html.jinja" as html -%}
{%- set title="Research" -%}

{%- block content -%}
  {%- set level = level+1 -%}
  {%- for project in ex.list -%}
    {%- include "project.html.jinja" -%}
  {%- endfor -%}
{%- endblock content -%}
